@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Michroma&family=Public+Sans:wght@300;400;700&family=Roboto&family=Rubik:wght@400;500;700&display=swap');

:root{
    /* color */
    --darkBlue:hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan:hsl(192, 70%, 51%);

    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue:hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
    --darkGreen:#2ec3a2;

    /* Typography */
    --normal-fontSize:18px;
}

body{
    font-family: 'Public Sans', sans-serif ;
    font-size: var(--normal-fontSize);
    font-weight: 300;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
    color: var(--grayishBlue);
}

main{
    margin-left: 10%;
    width: 90%;
}

li{
    list-style: none;
}
/* Layout */


.navBar{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-container{
    width: fit-content;
}
.menu-option-container{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;

}
 .menu-option{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 2em;
    
}

.menu-option:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--limeGreen);
}
.menu-option:hover a{
    color: black;
}
.request-invite-btn{
    cursor: pointer;
    height:40px ;
    width: 170px;
    border-radius: 20px;
    background-image: linear-gradient(to right, var(--limeGreen), var(--darkGreen));
    border: none;
    color: white;
    font-weight: 400;
}
.request-invite-btn:focus,
.request-invite-btn:hover{
    transition: 0.5s ease-in;
    transform: scale(1.05);
}
.container-1{
    z-index: 0;
    width: 100%;
    background-color: var(--veryLightGray);
}
.container-1 > main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container-1-left{
    width: 35%;
}
.container-1-right{
    height: 800px;
    width: 60%;
    background-image: url(images/bg-intro-desktop.svg);
    background-size: cover;
}
.mockup-images{
    top: 0;
    position: absolute;
    right: -100px;


}

.menu-icon{
    display: none;
}
.close-icon{
    display: none;
}
.mobile-menu-overylay{
    display: none;
}

@media screen and (max-width:675px){
    body{
        position: relative;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    main{
        margin: 0;
        width: 100%;
    }
    .close-icon{
        display: block;
        margin-right: 1em;
        display: block;
        cursor: pointer;
    }

    .mobile-menu-overlay{
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.239);
    }

    .menu-option-container{
        display: none;
    }
    .mobile-menu-option-container{
        align-self: center;
        display: flex;
        top: calc(10vh + 20px);
        position: absolute;
        min-height: 200px;
        padding: 2em 0;
        max-width: 90%;
        min-width: 400px;
        border-radius: 10px;
        flex-direction: column;
        gap: 1.5em;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 2px 3px rgb(219, 219, 219);

    }
    .menu-option{
        height: fit-content;
        width: clamp(120px, 150px 90%);
    }
    header .request-invite-btn{
        display: none;

    }
    .toggleClass{
        display: none;
    }
    .menu-icon{
        margin-right: 1em;
        display: block;
        cursor: pointer;
    }

    .menu-icon:focus,
    .menu-icon:hover{
        transform: scale(1.1);
    }

    .close-icon:focus,
    .close-icon:hover{
        transform: scale(1.1);
    }

    .container-1 > main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-1-left{
        width: 80%;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em 0;
    }
    .container-1-left p{
        text-align: center;
      
    }
    .container-1-right{
        width: 100%;
        height: 100%;
        order: 1;
        background-size: cover;
        background-image: url(images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
      
    }
    .mockup-images{
        position: static;
        width: 100%;
        height: 100%;
        order: 1;
    }
   
    


}


.advert-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--lightGrayishBlue);

}
.advert-section-1{
    width: 50%;
}

.advert-section-2{
    margin: 3em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    align-items: center;
    gap: 1.5em;
}

.advert-section-service{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.advert-info-container{
    height: 60%;
}

.advert-title{
    height: 10%;
}
.advert-description{
    margin-top: 2em;
    height: 90%;
}

@media screen and (max-width:675px) {
    .advert-section > main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .advert-section-1{
        width: 100%;
    }
    .advert-section-2{
        margin: 3em 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 80%));
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        
    }
    .advert-section-service{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
}



.articles-section{
    background-color: var(--veryLightGray);

}

.articles-section > main{
    margin: 4em 10%;
    display: flex;
    flex-direction: column;
}

.articles-container{
    display: flex;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}


.article{
    height: 600px;
    width: clamp(250px, 22%, 300px);
    display: flex;
    flex-direction: column;
    background-color: white;

}
.article-image-container{
    width: 100%;
    height: 50%;
}

.article-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-info-container{
    height: 50%;
    padding:0 2em ;
}

@media screen and (max-width:675px){
    .articles-section > main{
        margin: 4em 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }

    .articles-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        
    }
    .article{
        height: fit-content;
        width: clamp(300px, 80%, 95%);
        display: flex;
        flex-direction: column;
        background-color: white;
    }
}


footer{
    width: 100%;
    background-color: var(--darkBlue);
    min-height: 30vh;
    max-height: fit-content;
}

.footer-container{
    margin-left: 10%;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}

.footer-container-1{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2em;

}


.footer-section-1{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
}
.footer-social-media{
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer-section-2 > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-section-3 > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-copyright{
    color: var(--grayishBlue);
}

.social-icon:hover{
    cursor: pointer;
    background-color: #2ec3a2;
}



/* Typography */
 h1{
    font-weight: 400;
 }
 h2{
    font-size: 1.5rem;
    font-weight: 400;
 }
 p{
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: normal;
 }

 ul li a:hover{
    color: var(--darkGreen);
 }


 .article-title{
    font-size: 1.25rem;
 }

 .article-title:focus,
 .article-title:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: var(--limeGreen);
 }

 /* MEDIA QUERY */
 @media screen and (max-width:900px){
    .request-invite-btn{
        height: 35px;
        width: 120px;
        font-size: 0.8rem;
    }
    .navBar {
        margin-left: 10%;
        width: 90%;
        justify-content: space-between;
    }


    .menu-option-container{
        width: 60%;
        min-width: 300px;
        gap: 1em;
    }

    .menu-option{
        margin: 0;
        width: 20% !important;
    }
    .footer-container{
        justify-content: space-between;
    }

    .footer-container-1{
        width: 75%;
        gap: 0;
    
    }

    .footer-section-1, .footer-section-2, .footer-section-3{
        width: 33.3%;
       

    }
    
    .footer-section-4{
        width: 25%;
    }
    .social-icon{
        width: 15px;
    }
    
    footer a{
        font-size: 0.8rem;
    }
    footer p{
        font-size: 0.875rem;
    }
 }

 @media screen and (max-width:675px){
    .footer-container{
        padding: 2em 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container-1{
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section-4, .footer-section-1, .footer-section-2,.footer-section-3{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section-1{
        gap: 1em;
    }

    .footer-section-2{
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    footer ul{
        text-align: center;
        padding: 0;
        width: fit-content;
        justify-content: center;
    }

    footer li{
        margin: 0;
    }
}


